@import 'bourbon.scss';

@mixin toe() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.f-toe{
  @include toe
}

.f-fl{
  float: left;
}

.f-fr{
  float: right;
}

// clear float
.f-cf{
  @include clearfix()
}
